/* CSS Document */

body {
/*background-color:#6782AE;*/
background-color:#A9C4F0;
/*background: url("./images/bg2.png") repeat-x
	background-image: url("./images/bg2.png");
	background-repeat: repeat;
	background-attachment: scroll;
    height: 1326px;*/
}
